@namespace MudBlazor.Docs.Examples


<MudMenu FullWidth="true" ActivationEvent="@MouseEvent.LeftClick">
    <ActivatorContent>
        <MudChip T="string" Icon="@Icons.Material.Filled.Mouse" Color="Color.Primary" OnClick="@(() => context.ToggleAsync())">Left Click</MudChip>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem Label="Profile" />
        <MudMenuItem Label="Theme" />
        <MudMenuItem Label="Usage" />
        <MudMenuItem Label="Sign Out" />
    </ChildContent>
</MudMenu>

<MudMenu ActivationEvent="@MouseEvent.RightClick">
    <ActivatorContent>
        <div @oncontextmenu="@context.ToggleAsync" @oncontextmenu:preventDefault>
            <MudChip T="string" Icon="@Icons.Material.Filled.Mouse" Color="Color.Primary">Right Click</MudChip>
        </div>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem Label="Profile" />
        <MudMenuItem Label="Theme" />
        <MudMenuItem Label="Usage" />
        <MudMenuItem Label="Sign Out" />
    </ChildContent>
</MudMenu>

<MudMenu FullWidth="true" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
    <ActivatorContent>
        <div @onpointerenter="@context.OpenAsync" @onpointerleave="@context.CloseAsync">
            <MudChip T="string" Icon="@Icons.Material.Filled.Mouse" Color="Color.Primary">Mouse Over</MudChip>
        </div>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem Label="Profile" />
        <MudMenuItem Label="Theme" />
        <MudMenuItem Label="Usage" />
        <MudMenuItem Label="Sign Out" />
    </ChildContent>
</MudMenu>



